<section id="call" class=>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Call for Papers</h2>
      </div>
    </div>

    <div class="text-center">
      <h3>Themes and Topics</h3>
    </div>

    <div class="row text-justify">
      <div class="col-md-12">
        <p class="large text-muted">
          Given the rapid advancement of LLMs, we present examples of topics we encourage authors to explore in this workshop:
        </p>
        <ul class="large text-muted">
          <ul>
            <li>Predicting the performance of LLM-based retrievers/re-rankers, or generative AI systems. </li>
            <li>Leveraging the capabilities of LLMs to enhance QPP quality. </li>
            <li>Applying QPP to benefit various downstream tasks. </li>
            <li>Exploring QPP in the context of multi-modal content.  </li>
            <li>Exploring multilingual QPP. </li>
            <li>Other QPP-related research </li>
          </ul>
        </ul>

        <p class="large text-muted">
          We invite authors to submit papers written in English. Submissions may range in length from a minimum of 6
          pages to a maximum of 12 pages; however, references and supplementary materials may exceed this page count
          without limitation. In order to facilitate a double-blind review process, authors must ensure that submissions
          are fully anonymized. Please note that we do not impose a specific anonymity period prior to submission.

          </br> </br>
          The papers (.pdf format) should be submitted using the EasyChair submission system at <a
            href="https://easychair.org/conferences/?conf=keirecir2024">https://easychair.org/conferences/?conf=keirecir2024</a>.
          Authors should consult Springer’s authors’
          guidelines and use their proceedings templates to prepare the submission. The Microsoft Word and LaTeX
          versions of the template can be found at <a
            href="https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines">https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines</a>.
          Submissions to
          KEIR@ECIR2024 will be peer-reviewed on the basis of technical quality, relevance to workshop topics,
          originality, significance, clarity, etc.
          </br>

          We accept submissions of the following types:
        </p>
        <ul>
          <li>Original work that is not published or submitted elsewhere.</li>
          <li>Work that is submitted elsewhere and is still under review. In this case, the authors should make sure
            that you are not violating the submission guidelines and anonymity requirements of the other venue(s).
          </li>
          <li>Work that has been rejected at ECIR 2024.</li>
        </ul>
        </br>

        <p class="large text-muted">
          The proceedings of the KEIR workshop will be non-archival in nature. Extended versions of selected papers will
          be recommended for special issues of several SCI-indexed international journals. However, authors retain the
          right to submit their work to other peer-reviewed venues for further dissemination.

        </p>

      </div>
    </div>
  </div>
</section>