<section id="call" class=>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Call for Papers</h2>
      </div>
    </div>

    <div class="text-center">
      <h3>Themes and Topics</h3>
    </div>

    <div class="row text-justify">
      <div class="col-md-12">
        <p class="large text-muted">
          Given the rapid advancement of LLMs, we present examples of topics we encourage authors to explore in this workshop:
        </p>

        <ul class="large text-muted">
          <li><b>Predicting the performance of LLM-based retrievers/re-rankers, or generative AI systems.</b> Most QPP studies still focus on predicting the performance of rankers based on small-scale pre-trained language models (e.g., BERT  or T5). However, little work has explored predicting the performance of newly emerged LLM-based retrievers/re-rankers , or more broadly, LLM-based generative AI systems. Therefore, we aim to ad- dress questions including, but not limited to, the following:</li>
            <ul class="large text-muted">
            <li> To what extent does the performance of existing QPP methods (designed for retrievers/re-rankers using small-scale pre-trained languages) generalise to LLM-based retrievers and re-rankers?</li>
            <li> How can we effectively predict the performance of emerging new re-ranking paradigms based on LLMs, such as pair-wise or list-wise re-rankers?</li>
            <li> How can we predict the performance of generative AI systems? E.g., how to predict the text generation quality of an LLM in response to a prompt? </li>
        </ul>
        </ul>

        <ul class="large text-muted">
          <li><b>Leveraging the capabilities of LLMs to enhance QPP quality.</b> LLMs have been applied to a wide range of natural language processing (NLP) and IR tasks, achieving numerous state-of-the-art results. However, few studies have explored leveraging LLM to model QPP. We aim to address questions including, but not limited to, the following:</li>
            <ul class="large text-muted">
            <li> What kind of features from LLMs (e.g., embedding) can we use for QPP?</li>
            <li> How well a QPP model based on LLMs performs when predicting the ranking quality of an LLM-based retriever/re-ranker or the text generation quality of an LLM?</li>
        </ul>
        </ul>


        <ul class="large text-muted">
          <li><b>Applying QPP to benefit various downstream tasks.</b> Most studies evaluate QPP methods only using metrics not directly correlated to downstream tasks, e.g., linear correlation coefficients. However, it is underexplored whether QPP methods evaluated in such a way can be effectively applied to benefit downstream tasks, especially when it comes to applying them to important tasks in the era of LLMs, e.g., retrieval-augmented generation (RAG). So we aim to address questions including, but not limited to, the following:</b> </li>
            <ul class="large text-muted">
            <li> Which downstream tasks (especially in the era of LLMs) does QPP have the potential to benefit? E.g., in RAG, can QPP be used to determine when to rely on the retrieved documents? In LLM-based re-ranking, can QPP be used to determine query-specific re-ranking depths?</li>
            <li> How exactly to use QPP to benefit those tasks?</li>
        </ul>
        </ul>


        <ul class="large text-muted">
          <li><b>Exploring QPP in the context of multi-modal content.</b> Most studies focus on QPP in the context of text. However, research on QPP in the context of multi-modal content, such as images or even video, remains limited. We aim to address questions including, but not limited to, the following:</b> </li>
            <ul class="large text-muted">
            <li> QPP for text-to-image search, image-to-image search, or image generation.</li>
            <li> QPP in the context of video search/generation.</li>
        </ul>
        </ul>

        <ul class="large text-muted">
          <li><b>Exploring multilingual QPP.</b> There’s limited research on QPP for languages other than English. How well do current QPP methods generalise to non-English languages?</b> </li>
        </ul>

        <p class="large text-muted">
          Beyond the above aspects, I also welcome submissions on other QPP-related aspects. There is a need for deeper exploration in other QPP-related areas, including, but not limited to, the following: QPP for conversational search, recommendation systems, question answering, and fairness. We aim to stimulate discussions on these topics.
        </p>



        <p class="large text-muted">
          We invite authors to submit papers written in English. Submissions may range in length from a minimum of 6
          pages to a maximum of 12 pages; however, references and supplementary materials may exceed this page count
          without limitation. In order to facilitate a double-blind review process, authors must ensure that submissions
          are fully anonymized. Please note that we do not impose a specific anonymity period prior to submission.

          </br> </br>
          The papers (.pdf format) should be submitted using the EasyChair submission system at <a
            href="https://easychair.org/conferences/?conf=keirecir2024">https://easychair.org/conferences/?conf=keirecir2024</a>.
          Authors should consult Springer’s authors’
          guidelines and use their proceedings templates to prepare the submission. The Microsoft Word and LaTeX
          versions of the template can be found at <a
            href="https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines">https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines</a>.
          Submissions to
          KEIR@ECIR2024 will be peer-reviewed on the basis of technical quality, relevance to workshop topics,
          originality, significance, clarity, etc.
          </br>

          We accept submissions of the following types:
        </p>
        <ul>
          <li>Original work that is not published or submitted elsewhere.</li>
          <li>Work that is submitted elsewhere and is still under review. In this case, the authors should make sure
            that you are not violating the submission guidelines and anonymity requirements of the other venue(s).
          </li>
          <li>Work that has been rejected at ECIR 2024.</li>
        </ul>
        </br>

        <p class="large text-muted">
          The proceedings of the KEIR workshop will be non-archival in nature. Extended versions of selected papers will
          be recommended for special issues of several SCI-indexed international journals. However, authors retain the
          right to submit their work to other peer-reviewed venues for further dissemination.

        </p>

      </div>
    </div>

    <div class="text-center">
      <h3>Paper type</h3>
    </div>
    <div class="row text-justify">
      <div class="col-md-12">
        <p class="large text-muted">
        We welcome manuscripts about any QPP-related subjects. We welcome a diverse range of submission types:
        </p>

        <ul class="large text-muted">
          <li><b>New papers.</b> We welcome paper submissions in various types, including research papers, position papers, reproducibility papers, survey papers, and data collection papers. All submissions should be ranged from 4 to 10 pages in length, including references. </li>
        </ul>

        <ul class="large text-muted">
          <li><b>Published papers.</b> We welcome papers already accepted at top-tier conferences or in journals, e.g., SIGIR, CIKM, WWW, ECIR, ACL, EMNLP, TOIS, IP&M. Authors should submit 1-page abstract for a published paper, including the full reference where the paper was accepted.</li>
        </ul>

        
      </div>
    </div>

    <div class="text-center">
      <h3>Paper submission</h3>
    </div>
    <div class="row text-justify">
      <div class="col-md-12">

      </div>
    </div>

  </div>
</section>