<section id="contributions" class={{ include.class }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contributions</h2>
      </div>
    </div>
    <div class="text-center">
      <h3>Invited Talks</h3>
    </div>
    <div class="row text-justify">
      <div class="col-md-12">
        <ul class="large text-muted">
          <li><b>(1) Leveraging Entities and Knowledge Graph Semantics for Neural IR</b><br>
            Shubham Chatterjee - University of Edinburgh</li>
        </ul>
        <ul class="large text-muted">
          <li><b>(2) Automatic Data Annotation and Webly Supervised Visual Question Answering</b><br>
            Paul Lerner - Sorbonne Université, CNRS, ISIR</li>
        </ul>
        <ul class="large text-muted">
          <li><b>(3) Leveraging Contrastive Learning and Noise Augmentation for Effective Knowledge Graph-driven
              Recommendation
            </b><br>
            Zeyuan Meng - University of Glasgow</li>
        </ul>
        <ul class="large text-muted">
          <li><b>(4) Enhancing event-specific information retrieval by knowledge graphs</b><br>Sara Abdollahi - Leibniz
            University Hannover</li>
        </ul>
        <ul class="large text-muted">
          <li><b>(5) Adhoc Retrieval using Relevance Knowledge from a Query-Document Graph</b><br>Erlend Frayling -
            University of Glasgow</li>
        </ul>
      </div>
    </div>

    <div class="text-center">
      <h3>Accepted Papers</h3>
    </div>
    <div class="row text-justify">
      <div class="col-md-12">
        <ul class="large text-muted">
          <li><b>(1) <a href="assets/files/keir_1.pdf">Adaptive Latent Entity Expansion for Document Retrieval
              </a></b><br>
            Iain Mackie, Shubham Chatterjee, Sean MacAvaney and Jeffrey Dalton </li>
        </ul>
        <ul class="large text-muted">
          <li><b>(2)<a href="assets/files/keir_2.pdf"> Satisfactory Medical Consultation based on Terminology-Enhanced
                Information Retrieval and Emotional
                In-Context Learning </a></b><br>
            Jing Tang, Kaiwen Zuo, Hanbing Qin, Binli Luo and Shiyan Tang </li>
          </li>
        </ul>
        <ul class="large text-muted">
          <li><b>(3) <a href="assets/files/keir_4.pdf">Enhancing Late Interaction with Informative Entities for Passage
                Retrieval</a>
            </b><br>
            Jinyuan Fang, Zaiqiao Meng and Craig Macdonald </li>
        </ul>
        <ul class="large text-muted">
          <li><b>(4) <a href="assets/files/keir_3.pdf">Identifying User Shopping Needs in Voice Product Questions
                for Proactive Shopping Recommendations
              </a>
            </b><br>
            Besnik Fetahu, Nachshon Cohen, Elad Haramaty, Liane Lewin-Eytan, Oleg Rokhlenko and Shervin Malmasi</li>
          </li>
        </ul>
        
      </div>
    </div>
  </div>
</section>