<section id="program" class="{{ include.class }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Program Committee</h2>
            </div>
        </div>

        <div class="row text-justify">
        <div class="col-md-12">
          <ul class="large text-muted">
                        <li>Adrian-Gabriel Chifu, Aix-Marseille Université</li>
                        <li>Claudia Hauff, Spotify</li>
                        <li>David Carmel, Amazon</li>
                        <li>Francesco Luigi De Faveri, University of Padua</li>
                        <li>Laure Soulier, Sorbonne Université-ISIR</li>
                        <li>Laura Menotti, University of Padova</li>
                        <li>Maik Fröbe, Friedrich-Schiller-Universität Jena</li>
                        <li>Oleg Zendel, RMIT University</li>
                        <li>Radu Tudor Ionescu, University of Bucharest</li>
          </ul>
        </div>
      </div>
    </div>
</section>