<section id="program" class="{{ include.class }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Program Committee</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="large text-muted">
                    We thank the following committee members who contribute to the paper review and selection:
                </p>
                <ul class="list-unstyled fs-3">
                    <li>Adrian-Gabriel Chifu, <i>Aix-Marseille Université, France</i></li>
                    <li>Claudia Hauff, <i>Spotify, The Netherlands</i></li>
                    <li>David Carmel, <i>Amazon, Israel</i></li>
                    <li>Francesco Luigi De Faveri, <i>University of Padua, Italy</i></li>
                    <li>Laure Soulier, <i>Sorbonne Université-ISIR, France</i></li>
                    <li>Laura Menotti, <i>University of Padova, Italy</i></li>
                    <li>Maik Fröbe, <i>Friedrich-Schiller-Universität Jena, Germany</i></li>
                    <li>Oleg Zendel, <i>RMIT University, Australia</i></li>
                    <li>Radu Tudor Ionescu, <i>University of Bucharest, Romania</i></li>
                </ul>
            </div>
        </div>
    </div>
</section>