<style>
  table,
  th,
  td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
  }

  th {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
  }
</style>
<section id="schedule" class={{include.class}}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Workshop Schedule</h2>
        <!-- <h3>TBD</h3> -->
        <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
      </div>
    </div>
    <table style="width: 100%">
      <tr>
        <th width=130px> Activity type </th>
        <th width=150px> Time </th>
        <th width=400px> Activity </th>
      </tr>
      <tr>
        <td width=130px> Opening remarks </td>
        <td width=150px> 9:00 - 9:15 </td>
        <td></td>
      </tr>
      <tr>
        <td width=130px>Keynote I</td>
        <td width=150px>9:15 - 10:05</td>
        <td width=400px>Keynote I by Dr. Ridho Reinanda (45 min Talk + 5 min Q&A)</td>
      </tr>
      <tr>
        <td width=130px>Invited talks</td>
        <td width=150px>10:05 - 10:30</td>
        <td width=400px>Invited talk by (1) Shubham Chatterjee (20 min Talk + 5 min Q&A)</td>
      </tr>
      <tr>
        <td width=130px>Coffee break</td>
        <td width=150px>10:30 - 11:00</td>
        <td width=400px></td>
      </tr>
      <tr>
        <td width=130px>Paper presentations</td>
        <td width=150px>11:00 - 12:30</td>
        <td width=400px>Accepted paper presentations (1-4) (each 15 min Talk + 5 min Q&A)</td>
      </tr>
      <tr>
        <td width=130px>Lunch</td>
        <td width=150px> 12:30 - 13:30</td>
        <td></td>
      </tr>
      <tr>
        <td width=130px>Keynote II</td>
        <td width=150px>13:30 - 14:20</td>
        <td width=400px>Keynote II Assoc. Prof. Zhaochun Ren (45 min Talk + 5 min Q&A)</td>
      </tr>
      <tr>
        <td width=130px>Invited talks</td>
        <td width=150px>14:20 - 15:10</td>
        <td width=400px>Invited talks by (2) Paul Lerner and (3) Zeyuan Meng (each 20 min Talk + 5 min Q&A)</td>
      </tr>
      <tr>
        <td width=130px>Coffee break</td>
        <td width=150px>15:10 - 15:30</td>
        <td width=400px></td>
      </tr>
      <tr>
        <td width=130px>Invited talks</td>
        <td width=150px>15:30 - 16:20</td>
        <td width=400px>Invited talks by (4) Sara Abdollahi and (5) Erlend Frayling (each 20 min Talk + 5 min Q&A)
        </td>
      </tr>
      <tr>
        <td width=130px>Closing remarks</td>
        <td width=150px>16:20 - 16:30</td>
        <td width=400px></td>
      </tr>
    </table>
  </div>
</section>