<style>
  table,
  th,
  td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
  }

  th {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
  }
</style>

<section id="schedule" class={{include.class}}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Workshop Schedule</h2>
        <h3>TBD</h3>
         <p class="large text-muted">
        QPP++ 2025 is a full-day workshop, which will be held on the last day on ECIR 2025 (10th April 2025) at the IMT School for Advanced Studies Lucca.

        <!--
        The tentative schedule presented as follows:
        </p>
            <table style="width: 100%">
      <tr>
        <th width=130px> Time </th>
        <th width=130px> Duration </th>
        <th width=400px> Activity </th>
        <th width=400px> Comment </th>
      </tr>
       <tr>
        <th width=130px> 9:00–9:15 </th>
        <th width=130px> 15 min </th>
        <th width=400px> Opening </th>
        <th></th>
      </tr>
      <tr>
        <th width=130px> 9:15–10:00 </th>
        <th width=130px> 45 min </th>
        <th width=400px> Keynote </th>
        <th></th>
      </tr>
    </table>
    -->
      </div>
    </div>

  </div>
</section>