<section id="about" style="padding-top: 30px;" class={{ include.class }}>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About the workshop</h2>
                <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
            </div>
        </div>
        <div class="row text-justify">
            <div class="col-md-12">
                <p class="large text-muted">
                    In the field of information retrieval (IR), harnessing knowledge from external knowledge bases, such
                    as Knowledge Graphs and Wikipedia, has emerged as a promising avenue for improving the effectiveness
                    and the interpretability of IR systems. These external knowledge bases offer valuable information
                    that empowers IR models to make more accurate predictions. The infusion of external knowledge bases
                    into IR models can provide enhanced ranking results and greater interpretability, offering
                    substantial advancements in the field.
                    <br><br>
                    The First Knowledge-Enhanced Information Retrieval workshop (KEIR @ ECIR 2024) will serve as a
                    platform to bring together researchers from academia and industry to explore and discuss various
                    aspects of knowledge-enhanced information retrieval systems, such as models, techniques, data
                    collection and evaluation. The workshop aims to not only deliberate upon the advantages and hurdles
                    intrinsic to the development of knowledge-enhanced PLMs, IR models and RecSys models but also to
                    facilitate in-depth discussions concerning the same.
                </p>

                <!-- <ul class="large text-muted">
                        <li>Time series pattern mining and detection, representation, searching and indexing, classification, clustering, prediction, forecasting, and rule mining.
                        </li>
                        <li>Time series with special structure: spatiotemporal (e.g., traffic speeds at different locations), relational (e.g., patients with similar diseases), hierarchical, etc.
                        </li>
                        <li>Time series with sparse or irregular sampling, missing values at and not at random, and special types of measurement noise or bias.
                        </li>
                        <li>Time series that are multivariate, high-dimensional, heterogeneous, etc., or that possess other atypical properties.
                        </li>
                        <li>Time series analysis using less traditional approaches, such as deep learning and subspace clustering.</li>
                        <li>Privacy preserving time series mining and learning.</li>
                        <li>Online, high-speed learning and mining from streaming time series.</li>
                        <li>Uncertain time series mining.</li>
                        <li>Applications to high impact or relatively new time series domains, such as health and medicine, road traffic, and air quality.
                        </li>
                        <li>New, open, or unsolved problems in time series analysis and mining.
                        </li>
                    </ul> -->
            </div>
        </div>
    </div>
</section>