<section id="about" style="padding-top: 30px;" class={{ include.class }}>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About the workshop</h2>
                <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
            </div>
        </div>
        <div class="row text-justify">
            <div class="col-md-12">
                <p class="large text-muted">
                    Query performance prediction (QPP), a.k.a. query difficulty prediction, is a key task in information retrieval (IR).
                    The task of QPP is defined as estimating search effectiveness without human relevance judgments.
                    Effective QPP benefits various downstream application, e.g., query variant selection, selective query expansion, ranker selection, or query-specific pool depth prediction to reduce human relevance judgment costs in collection construction.
                    <br><br>
                    QPP++ 2025 is the continuation of the <a href="QPP++ 2023">https://qpp.dei.unipd.it/</a>workshop held in ECIR 2023

                    <a

                </p>

            </div>
        </div>
    </div>
</section>